<!DOCTYPE html>
<html>
  <head>
    <title>MinhBookingTour</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.0/font/bootstrap-icons.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-nowrap">
        <%= render "layouts/admin/sidebar" %>
        <div class="col py-3">
          <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
